body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(salmon, tomato);
padding: 10px 40px;
color: white;
font-weight: 700;
border-radius: 5px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}
.half-width img{
    width: 100%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.centre-part{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.Our-Recipies{
    text-align: center;
    padding-left: 25%;
    padding-right:25%;
    }
  .block{
    box-shadow: 10px 10px 40px #e0dbdb;
    margin-left: 10%;
    margin-right: 2%;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    
  }
  .adjust{
      height: 200px;
      width: 260px,

  }
  .footer-area{
      background-color: black;
      text-align: center;
      
  }
  
  #white-color{
      color: white;
  }
      
      

    
    
      
  
  
   
  